#mi{
	height: 350;
	width: 130px;
}

.new
{
	background-color: #ccffcc;
}

.name
{
	color:red;
	
}

.info
{
	font-weight: bold;
	color: green;
	/*background-color: #cccccc;*/
}

.sub{
	text-decoration: underline;
	/*background-color: #ffcccc;*/
	/*background-color: #ffccff;*/
	background-color: #ffffcc; 
}

.cert
{
	  font-style: italic;
}

table
{
	width: 75%;
}

 table, th 
{
	    border: 2px solid black;
}

table, td
{
	text-align: center;
	border-collapse: collapse;
	border: 1px solid black;

}
/*
button{
	font-weight: bold;
}
*/
.Personal
{
	text-align: center;
}

.specialization
{
	text-align: center;
}
